<!--
<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 h-100 w3 flex-none">
		<img src="/img/logo.svg" alt="Kaldi logo" class="br0 db mb0 w-100"/>
	</a>

	<!-- Primary Nav -->
	<ul class="flex b grey-3">
		<li><a href="/products" class="pa3 no-underline db">Products</a></li>

		<li><a href="/values" class="pa3 no-underline db">Values</a></li>

		<li><a href="/post" class="pa3 no-underline db">Blog</a></li>

		<li><a href="/contact" class="pa3 no-underline db">Contact</a></li>
	</ul>

</nav>-->
  <header id="header">
    <div class="logo">
   <a href="https://dacapostotel.github.io/dacapo-stotel.github.io/">
         <img id="header-img"  src="https://github.com/DaCapoStotel/dacapo-stotel.github.io/blob/main/assets/DaCapoStotel.png?raw=true" class="br0 db mb0 w-100"
        alt="DaCapo" >
      </a>
    </div>
<!--https://lh3.googleusercontent.com/pw/AM-JKLXf9VYYtjKM7Fwvx_fCa9LQzzvSPWp9RaZh1t0Df5p4mvPPaFL-WKpkD-HcA81HD9haP2jiKVlW7W3MKO761LsS7ORjStc3T08pjjvr9D_UroKjw2-Smj48EJo2VIdkzFKIqYEIgzP5ahdNKbyV6-M0mQ=w1006-h121-no?authuser=0 -->
    <nav id="nav-bar">
      <ul class="flex b grey-3" <!--class="nav-list"--> >
        <li><a class="pa3 no-underline db" <!--class="nav-link"--> href="https://dacapostotel.github.io/dacapo-stotel.github.io">DaCapo</a>&nbsp;>&nbsp;<a class="nav-link" href="https://dacapostotel.github.io/dacapo-stotel.github.io/Veranstaltungen/veranstaltungenindex.html">Veranstaltungen</a>&nbsp;>&nbsp;<a class="nav-link" href="https://dacapostotel.github.io/dacapo-stotel.github.io/Veranstaltungen/veranstaltungenindex.html">Brot und Rosen</a></li>
        <!--<li><a class="pa3 no-underline db" <!--class="nav-link"--> href="https://dacapostotel.github.io/dacapo-stotel.github.io/Veranstaltungen/veranstaltungenindex.html">Alle Veranstaltungen</a>&nbsp;>&nbsp;</li>
        <li><a class="pa3 no-underline db" <!--class="nav-link"--> href="https://dacapostotel.github.io/dacapo-stotel.github.io/Veranstaltungen/veranstaltungenindex.html">Domainvorschläge</a></li>-->
      </ul>
    </nav>
  </header>

